{
  "command": "{{command}}",
  "repo": "{{repo}}",
  "path": "{{path}}",
  "archetype": "{{archetype}}",
  "archetypes": {{archetypes}},
  "profile": "{{profile}}",
  "profiles": {{profiles}},
  "factors": {{factors}},
  "improvement_plan": {{improvement_plan}}
}
